.intro {
  max-width: $maxWidthDesktop;
  box-sizing: border-box;
  padding: 20px 0 0 120px;
  background: no-repeat right bottom url('../../../../../images/IntroBackground.png');
  display: flex;

  @media screen and (max-width: 1419px){
    padding: 60px 18px;
  }

  @media screen and (max-width: 1059px){
    background-size: 70%;
    padding-top: 0;
  }

  @media screen and (max-width: 767px){
    background: no-repeat url('../../../../images/IntroBackgroundMobile.png');
    background-position: right top 160px;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
}
