.switcher__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked + .switcher__slider {
    background: #545454;
  }

  &:checked + .switcher__slider::before {
    transform: translateX(20px);
  }
}
