.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorWhite;
  transition: .4s;
  border-radius: 10px;

  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #24B47E;
    transition: .4s;
    border-radius: 50%;
  }
}
