.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: $bolderBlack;
  padding-top: 100px;
	margin-top: -100px;
	-webkit-background-clip: content-box;
	background-clip: content-box;

  @media screen and (max-width: 1059px){
    font-size: 32px;
    line-height: 1.25;
    }
}
