.header {
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 120px;
  height: 74px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: $lightBackground;
  z-index: 5;

  @media screen and (max-width: 1419px){
    padding-right: 18px;
  }

  @media screen and (max-width: 438px){
    padding-right: 20px;
  }
}
