.switcher {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-right: 45px;

  &::before {
    position: absolute;
    left: -44px;
    top: 0;
    content: '';
    width: 28px;
    height: 28px;
    background: no-repeat center url('../images/SunSwitcher.svg');
  }

  &::after {
    position: absolute;
    right: -34px;
    top: 0;
    content: '';
    width: 20px;
    height: 20px;
    background: no-repeat center url('../images/MoonSwitcher.svg');
  }
}
