.bikes__cards-container {
  display: flex;

  @media screen and (max-width: 1243px){
    justify-content: space-between;
  }

  @media screen and (max-width: 767px){
    justify-content: center;
  }
}
