.header__burger {
  display: none;

  @media screen and (max-width: 438px){
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: relative;

    &::before, &::after {
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #151515;
      content: '';
      transition: all .2s;
    }

    &::before {
      top: 2;
    }

    &::after {
      bottom: 0;
    }
  }
}
