.footer__input {
  font-family:  $fontsFamily;
  width: 360px;
  height: 50px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: $blackText;
  opacity: .7;
  cursor: pointer;
  transition: all .2s;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin-bottom: 100px;
  background-color: transparent;

  &:hover {
    opacity: 1;
    color: $bolderBlack;
  }

  &:focus {
    outline: none;
    border: 1px solid #C7C7C7;
  }

  &::-moz-placeholder {
    @include placeholderEmail;
  }
  &::-ms-input-placeholder {
    @include placeholderEmail;
  }
  &::-webkit-input-placeholder {
    @include placeholderEmail;
  }

  &::placeholder {
    @include placeholderEmail;
  }

  @media screen and (max-width: 767px){
    max-width: 284px;
    margin-bottom: 95px;
  }
}
