.section-text {
  @include resetParagraph;
  font-size: 18px;
  line-height: 1.56;
  color: #222222;
  opacity: .7;

  @media screen and (max-width: 1059px){
    font-size: 12px;
    line-height: 1.5;
    }
}
